<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <%= devise_error_messages! %>

  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <div class="input">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :time_offset, "Time to reset day for graphing points" %>
    <div class="input">
      <%= f.select :time_offset, [["12 AM UTC",0],["1 AM UTC",1],["2 AM UTC",2],["3 AM UTC",3],["4 AM UTC",4],["5 AM UTC",5],["6 AM UTC",6],["7 AM UTC",7],["8 AM UTC",8],["9 AM UTC",9],["10 AM UTC",10],["11 AM UTC",11],["12 PM UTC",12],["1 PM UTC",13],["2 PM UTC",14],["3 PM UTC",15],["4 PM UTC",16],["5 PM UTC",17],["6 PM UTC",18],["7 PM UTC",19],["8 PM UTC",20],["9 PM UTC",21],["10 PM UTC",22],["11 AM UTC",23]] %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <div class="input">
      <%= f.password_field :current_password %>
    </div>
  </div>


  <div class="actions"><%= f.submit "Update", :class => "btn" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
