= form_for(@task) do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :description
    = f.text_area :description, :size => "30x3"
  %p 
    = f.label :time
    = f.text_field :time, :size => 4
    seconds
  %p
    = f.fields_for :task_roles do |ff|
      Attribute to 
      = ff.select :role_id, role_options
      for
      = ff.select :points, [[1,1],[2,2],[3,3]]
      points
  %p
    Use in context:

    = f.fields_for :task_contexts do |ff|
      = ff.object.context.name
      = ff.hidden_field :context_id, { :value => ff.object.context.id } 
      - unless ff.object.new_record?
        = ff.check_box :_destroy, { :checked => true },  "0", "1"
      - else 
        = ff.check_box :_destroy, {}, "0", "1"
       
      =# ff.select :context_id, context_options
  %p 
    = f.submit "Save routine"
