= form_for(@task) do |f|
  %div.clearfix
    = f.label :name
    %div.input
      = f.text_field :name, :class => "span3"
  %div.clearfix
    = f.label :description
    %div.input
      = f.text_area :description, :class => "span3", :rows => "3"
  %div.clearfix
    = f.label :time
    %div.input 
      = f.text_field :time, :class => "span2"
      seconds

  %div.clearfix
    %label
      Context(s)

    %div.input
      = f.fields_for :task_contexts do |ff|
        = ff.object.situation.name
        = ff.hidden_field :situation_id, { :value => ff.object.situation.id } 
        - unless ff.object.new_record?
          = ff.check_box :_destroy, { :checked => true },  "0", "1"
        - else 
          = ff.check_box :_destroy, {}, "0", "1"
  %div.actions 
    = f.submit :class => "btn"
