%h3
  = link_to t.name, t

- if t.display_type == "binary"
  %div.bigcheck
    = t.done_today > 0 ? "✓" : "x"
- elsif t.display_type == "ntoday"
  = "✓" * t.done_today
- elsif t.display_type == "todo"
  = t.microtasks.complete.updated_today(current_user.time_offset.hours).count
  done ·
  = t.microtasks.incomplete.count
  to do
- elsif t.display_type == "values"
  %span.bignum
    = t.logs.with_value.last.value
    things
  %div.chart
  = render :template => "tasks/_value_graph", :locals => { :data_json => t.values_graph } 
- elsif t.display_type == "logs" or true
  %div.bignum
    = t.logs.today(current_user.time_offset.hours).count 
    done
  = render :template => "tasks/_value_graph", :locals => { :data_json => t.logs_graph } 




