%h3
  = link_to t.name, t

- if t.display_type == "binary"
  %div.bigcheck
    = t.done_today > 0 ? "✓" : "x"
- elsif t.display_type == "ntoday"
  = "✓" * t.done_today
- elsif t.display_type == "todo"
  - t.microtasks.complete.updated_today(current_user.time_offset.hours).count.times do
    %i{:class => "icon-plus"}
  - t.microtasks.incomplete.count.times do
    %i{:class => "icon-minus"}
- elsif t.display_type == "values"
  %span.bignum
    Yesterday:
    = t.logs.with_value.all[-2].value 
    Today: 
    = t.logs.with_value.last.value
  %div.chart
  = render :template => "tasks/_value_graph", :locals => { :task => t, :data_json => t.values_graph } 
- elsif t.display_type == "values-diff"
  %span.bignum
    Yesterday:
    = t.logs.with_value.all[-2].value 
    Today: 
    = t.logs.with_value.last.value
  %div.chart
  = render :template => "tasks/_value_graph", :locals => { :task => t, :data_json => t.values_graph } 
- elsif t.display_type == "logs" or true
  %div.bignum
    = t.logs.today(current_user.time_offset.hours).count 
    done
  = render :template => "tasks/_value_graph", :locals => { :task => t, :data_json => t.logs_graph } 




