<script type="text/javascript">
  $(function() {
    window.tasks = new Routini.Routers.TasksRouter({tasks: <%= @context.tasks.to_json.html_safe -%>});
    Backbone.history.start();
    });
</script>


<h2> <%= Time.now.strftime("%a %Y.%m.%d") %> @ <%= @context.name %>
  (switch:
  <% @contexts.each do |c| %>
    <% next if c == @context %>
    <%= link_to c.name, c %>
  <% end %>
  <%= link_to "+", "#" %>
  )
</h2> 

<div class="row">
  <div class="span3">
    <div id="daily-chart" style="width:270px;height:300px;" data-pts="<%= @rpdaily_json %>"></div>
    <%= current_user.points.from_time(Time.now.utc, current_user).sum('points') %> total
    <br />
    <br />
    Current mood: Blah
    <br />
    Set: 
    <% (1..10).each do |i| %>
      <%= link_to i, "#" %>
    <% end %>
  </div>

  <div class="span9" id="context">
    <% @context.tasks.in_groups_of 3  do |task_group| %>
      <div class="row">
        <% task_group.each do |t| %>
          <% if t %>
            <div class="span3 viz" id="task<%= t.id %>">
              <%= render :template => "tasks/_task_viz", :locals => { :t => t } %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
    
