<%= javascript_tag do %>
  Shuff.init(<%= @tasks.to_json.html_safe %>, <%= @contexts.to_json.html_safe %>);
<% end -%>


<h2> <%= Time.now.strftime("%a %Y.%m.%d") %> @ <%= @context.name %>
  (switch:
  <% @contexts.each do |c| %>
    <% next if c == @context %>
    <%= link_to c.name, "/#/contexts/#{c.id}" %>
  <% end %>
  <%= link_to "+", "#" %>
  )
</h2> 

<div class="row">
  <div class="span12" id="task">
  </div>
</div>

<div class="row" id="dashboard">
  <div class="span3">
    <div id="daily-chart" style="width:270px;height:300px;" data-pts=""></div>
    <br />
    <br />
    Current mood: Blah
    <br />
    Set: 
    <% (1..10).each do |i| %>
      <%= link_to i, "#" %>
    <% end %>
  </div>

  <div class="span9" id="context">
  </div>
</div>
    
