%p
  = @task.name

#timer
  = @task.time

#actions
  = link_to "Finished early!", tasks_path
  = link_to "I give up", tasks_path
 
#actions-timeup
  = form_for @point do |f|
    %p 
      = f.submit "Finished!"

  = link_to "Give up", tasks_path
  = link_to "More time", "#"
