  
%div.row
  %div.span12
    Shuffling
    - if session[:context]
      = Situation.find(session[:context]).name + "."
    - else
      all.
    = link_to "Choose another", root_path
  %div.span4
    = link_to "Edit this task", edit_task_path(@path)

#task-name.row
  = @task.name

%div.row
  #countdown.span3
    #timer
      = @task.time
    
    #actions
      = form_for @point do |f|
        = f.hidden_field :task_id, { :value => @task.id }
        = f.submit "Finished!"

      %form{ :action => tasks_path, :method => "GET" }
        %input{ :type => "submit", :value => "Skip" }

  #info.span13
    #points
      - @task.task_roles.each do |tr|
        %spak.task_role
          +#{tr.points} #{tr.role.name}
    %p
      = auto_link @task.description

    %h3
      Actions

    #microtasks
      - @task.microtasks.incomplete.each do |a|
        - if a.name 
          = render a, :locals => { :microtask => a }

    = form_for [@task, @task.microtasks.build], :remote => true do |f|
      = f.text_field :name
      = f.submit "Add"




