  
#shuffler-task.row
  %div.span16
    Shuffling 
    %strong 
      #{context = session[:context] ? Situation.find(session[:context]).name : "all"}.

    Switch:
    - if context != "all"
      = link_to "all", tasks_path(:all => true) 
    - @contexts.each do |c|
      - if c.name != context
        = link_to c.name, "/contexts/#{c.id}" 


#task-show.row
  #task-name.span9
    %h2
      = @task.name
  #points.span7
    - @task.task_roles.each do |tr|
      %span.task_role
        +#{tr.points}&nbsp;#{tr.role.name}
    #edit-task-link
      = link_to "Edit this task", edit_task_path(@path)

%div.row
  #countdown.span3
    %audio#beep{"preload" => "auto", "autobuffer" => "autobuffer"}
      %source{:src => "https://s3.amazonaws.com/shuff/timer.wav"}

    #timer{"data-maxtime" => @task.time}
      = format_time @task.time

    #time-control
      %a#pause.time-control{:href => '#'}
        %img{:src => '/assets/pause.png'}
      %br
      %a#reset.time-control{:href => '#'}
        %img{:src => '/assets/reset.png'}

    %br
    #timeviz-box
      #timeviz-fill

    %br
    
    #actions
      = form_for @point, :html => { :class => "finish_btn" } do |f|
        = f.hidden_field :task_id, { :value => @task.id }
        = f.submit "Finished!", :class => [ "btn", "success" ]

      %form{ :action => tasks_path, :method => "GET", :class => "skip_btn" }
        %input{ :type => "submit", :value => "Skip", :class => [ "btn" ]  }

      %br
      = form_for @point, :html => { :class => "repeat_btn" } do |f|
        = f.hidden_field :task_id, { :value => @task.id }
        = hidden_field_tag :next_task_id, @task.id
        = f.submit "Log and repeat", :class => [ "btn" ]

  #info.span13
    %p
      = auto_link @task.description, :html => { :target => '_blank' }

    %h3
      Actions

    #microtasks
      - @task.microtasks.incomplete.each do |a|
        - if a.name 
          = render a, :locals => { :microtask => a }

    = form_for [@task, @task.microtasks.build], :remote => true do |f|
      = f.text_field :name
      = f.submit "Add", :class => "btn"




