  
#shuffler-task.row
  %div.span16
    Shuffling 
    %strong 
      #{context = session[:context] ? Situation.find(session[:context]).name : "all"}.

    Switch:
    - if context != "all"
      = link_to "all", tasks_path(:all => true) 
    - @contexts.each do |c|
      - if c.name != context
        = link_to c.name, "/contexts/#{c.id}" 


#task-name.row
  %div.span12
    %h2
      = @task.name
  %div.span4
    #points
      - @task.task_roles.each do |tr|
        %spak.task_role
          +#{tr.points} #{tr.role.name}
    = link_to "Edit this task", edit_task_path(@path)

%div.row
  #countdown.span3
    #timer{"data-maxtime" => @task.time}
      = format_time @task.time
    #timeviz-box
      #timeviz-fill
    %br
    #time-control
      %a#pause{:href => '#'}
        pause
      %a#reset{:href => '#'}
        reset
    
    #actions
      = form_for @point do |f|
        = f.hidden_field :task_id, { :value => @task.id }
        = f.submit "Finished!"

      %form{ :action => tasks_path, :method => "GET" }
        %input{ :type => "submit", :value => "Skip" }

  #info.span13
    %p
      = auto_link @task.description

    %h3
      Actions

    #microtasks
      - @task.microtasks.incomplete.each do |a|
        - if a.name 
          = render a, :locals => { :microtask => a }

    = form_for [@task, @task.microtasks.build], :remote => true do |f|
      = f.text_field :name
      = f.submit "Add"




