%h1
  Routini
  
%h2
  Routines

= link_to "Shuffle!", tasks_path

%ul
  - @tasks.each do |t|
    %li
      = link_to t.name, task_path(t)
      %span.small
        (#{t.time/60} min)
      - t.task_roles.each do |tr|
        %span.role
          +#{tr.points} #{tr.role.name}

#new-task-area.new-item
  = render "tasks/form"

%h2
  Roles

%ul
  - @roles.each do |r|
    %li
      #{r.name} - #{r.description}
      %span.small= link_to "edit", edit_role_path(r)
      %span.small= link_to "remove", { :controller => "roles", :action => "destroy", :id => r.id }, :confirm => "Are you sure?", :method => "delete"


#new-role-area.new-item
  = render "roles/form"

%h2 
  Contexts

%h2 
  Points

#point-chart{ :style       => "width:500px;height:300px;", 
              "data-pts"   => @rp_json, 
              "data-ticks" => @rp_ticks }


%ul 
  - @points.each do |p|
    %li
      #{time_ago_in_words(p.created_at)} ago:
      + 
      = p.points  
      = p.role.name 
      for 
      = p.task.name
