%h1
  = Time.now.strftime("%A, %B %d, %Y")

%h2
  = @contexts.first.name
= link_to "all", tasks_path(:all => true) 
- @contexts.each do |c|
  = link_to c.name, "/contexts/#{c.id}" 

- @contexts.first.tasks.in_groups_of(4) do |task_group|
  %div.row
    - task_group.each do |t|
      - if t
        %div.span4
          = render :template => "tasks/_task_viz", :locals => { :t => t }
    
