#shuffler.row
  Shuffle:
  = link_to "all", tasks_path(:all => true) 
  - @contexts.each do |c|
    = link_to c.name, "/contexts/#{c.id}" 

%div.row
  #task-list.span6
    %h3
      Tasks

    %ul
      - @tasks.each do |t|
        %li= render t

    #new-task-area.new-item
      = render "tasks/form"

  #chart.span10
    %div.row
      %h3
        Points
      #chart-options
        from the last 
        %input#chart_days{:type => 'text', :value => '14'}
        days

      #point-chart{ :style       => "width:500px;height:300px;", 
                    "data-pts"   => @rp_json }


      %ul 
        - @points.each do |p|
          %li= render p
            

    %div.row

      #roles.span5
        %h3
          Roles

        #new-role-area.new-item
          = render "roles/form"

        %ul
          - @roles.each do |r|
            %li= render r

      #contexts.span5
        %h3 
          Contexts

        #new-context-area.new-item
          = render "situations/form"

        %ul
          - @contexts.each do |c|
            %li= render c


