%h2
  Tasks

%ul
  - @tasks.each do |t|
    %li
      = t.name

= form_for(@task) do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p 
    = f.submit "Add task"

%h2
  Roles



%h2 
  Contexts
