%h1
  = Time.now.strftime("%A, %B %d, %Y")

%h2
  = @contexts.first.name
= link_to "all", tasks_path(:all => true) 
- @contexts.each do |c|
  = link_to c.name, "/contexts/#{c.id}" 

%div.row
  - @contexts.first.tasks.each do |t|
    %div.span4
      = render :template => "tasks/_task_viz", :locals => { :t => t }
    
