= form_for(@role) do |f|
  %div.clearfix
    = f.label :name
    %div.input
      = f.text_field :name, :class => "span3"
  %div.clearfix
    = f.label :description
    %div.input
      = f.text_field :description, :class => "span3"
  %div.actions
    = f.submit "Add role", :class => "btn"
