%html
  %head
    %title Shuff
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body{:class => params[:controller]}
    %header
      Shuff
      %nav
        %ul
          - if user_signed_in?
            %li
              = link_to('Logout', destroy_user_session_path, :method=>'delete')
          - else
            %li
              = link_to('Login', new_user_session_path)
          - if user_signed_in?
            %li
              = link_to('Edit account', edit_user_registration_path)
          - else
            %li
              = link_to('Sign up', new_user_registration_path)
    #main.container
      = yield
